/* ---------------- BACKGROUND */

$color__background-body: crimson;
$color__background-main: #eee;
$color__background-cours: #dbf2ff;
$color__background-header: #17223d;
$color__background-barre: linear-gradient(70deg, #bd2a69, crimson);
// $color__background-barre: hsl(0, 100%, 76%);
$color__background-footer: linear-gradient(0deg, #001e62, crimson);
$color__background-link: hsl(219, 100%, 82%);
$color__background-link-hover: hsl(219, 100%, 91%);

/* ---------------- LIENS */

$color__link: hsl(222, 100%, 19%);
$color__link-hover: hsl(0, 0%, 100%);
$color__link-visited: crimson;

/* ---------------- FONT */

$color__font-header: rgb(183, 255, 249);
$color__font-main :black;
$color__font-barre: rgb(255, 255, 255);
$color__font-footer: rgb(255, 202, 188);