/* ---------------- BACKGROUND */

$color__background-body: hsl(145, 45%, 90%);
$color__background-body-clip: hsl(182, 100%, 67%);
$color__background-main: hsl(145, 50%, 89%);
$color__background-cours: hsl(145, 100%, 91%);
$color__background-header: hsl(145, 66%, 66%);
$color__background-barre: hsl(145, 78%, 9%);
$color__background-footer: hsl(145, 79%, 13%);
$color__background-link: hsl(145, 63%, 70%);
$color__background-link-hover: hsl(145, 64%, 44%);

/* ---------------- LIENS */

$color__link: hsl(145, 27%, 38%);
$color__link-hover: hsl(0, 0%, 100%);
$color__link-visited: hsl(145, 29%, 28%);
$color__cours-titre: hsl(138, 48%, 43%);

/* ---------------- LIENS FOOTER */

$color__link__footer: black; //hsl(34, 91%, 50%);
$color__link__footer-hover: hsl(115, 100%, 50%);
$color__link__footer-visited: #00bfff;

/* ---------------- LIENS DU MENU FOOTER*/

$color__link__footer__menu: #fff;
$color__link__footer__menu-visited: #bbb;
$color__link__footer__menu-hover:#0f0;
$background__link__footer__menu: rgb(50, 122, 170);
$background__link__footer__menu-visited: rgb(120, 120, 173);
$background__link__footer__menu-hover: rgb(160, 146, 199);

/* ---------------- LIENS  DU MENU PRINCIPAL*/

$color__link__principal__menu: #fff;
$color__link__principal__menu-visited: #bbb;
$color__link__principal__menu-hover:hsl(145, 79%, 13%);
$background__link__principal__menu: rgba(rgb(140, 189, 223), .1);
$background__link__principal__menu-visited: rgb(1, 1, 19);
$background__link__principal__menu-hover: hsl(145, 45%, 90%);

/* ---------------- LIENS HEADER titre principal du site */

$color__link__header: hsl(154, 100%, 50%);
$color__link__header-hover: hsl(149, 63%, 72%);
$color__link__header-visited: hsl(145, 100%, 50%);

/* ---------------- FONT */

$color__font-header: hsl(149, 91%, 78%);
$color__font-main :rgb(68, 57, 54);
$color__font-barre: hsl(0, 0%, 100%);
$color__font-footer: hsl(145, 100%, 87%);

/****************Recherche*******/

$color__texte__recherche: rgb(202, 209, 212);
$color__texte__icones: rgb(167, 173, 181);
$color__texte__defaut: rgb(247, 247, 247);
$color__colorbackground-recherche: rgb(95, 106, 117);

/****************Cours Border*******/

$color__cours-reussi: #1B5E20;
$color__cours-aFaire: #FF8F00;
$color__cours-enCours: #01579B;
$color__cours-echoue: #D32F2F;
$color__cours-choisi: #7E57C2;

/****************Animation*******/

@keyframes text-arc-en-ciel {
    100%,
    0% {
        color: rgb(255, 0, 0);
    }
    8% {
        color: rgb(255, 127, 0);
    }
    16% {
        color: rgb(255, 255, 0);
    }
    25% {
        color: rgb(127, 255, 0);
    }
    33% {
        color: rgb(0, 255, 0);
    }
    41% {
        color: rgb(0, 255, 127);
    }
    50% {
        color: rgb(0, 255, 255);
    }
    58% {
        color: rgb(0, 127, 255);
    }
    66% {
        color: rgb(0, 0, 255);
    }
    75% {
        color: rgb(127, 0, 255);
    }
    83% {
        color: rgb(255, 0, 255);
    }
    91% {
        color: rgb(255, 0, 127);
    }
}