$font__main: 'Roboto',
'Gill Sans MT',
'Arial',
'sans-serif';
$font__titre: 'Ubuntu',
'Gill Sans MT',
'Arial',
'sans-serif';
$font__titre2: 'Super Mario 256',
$font__titre;
// Les variables font_main et font_titre seron remplacés prochainement
$police__h1:$font__titre;
$police__p:$font__main;
$police__h3: 'Anybody',
'cursive';
$police__h5: 'Oswald',
sans-serif;