.site__main {
    margin: 20px;
    padding: 10px 15px;
    background-color: $color__background-main;
    border-radius: 5px;
    box-shadow: rgb(57, 68, 62) 1px -1px 10px;
}

.formation {
    display: flex;
    flex-direction: column;
}

.formation__titre {
    font-size: 2rem;
    color: $color__font-main;
    margin: 10px 0px;
    font-family: $font__titre;
}

.formation__liste {
    display: flex;
    flex-wrap: wrap;
}

.formation__cours {
    background-color: $color__background-cours;
    box-shadow: rgb(57, 64, 68) 1px -1px 10px;
    border-radius: 5px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    width: 95%;
    padding: 10px;
    overflow: hidden;
    @media screen and (min-width: $largeur__media-tablette) {
        width: 45%;
    }
    @media screen and (min-width: $largeur__media-desktop) {
        width: 28%;
    }
}

.cours__titre {
    font-size: 1.5rem;
    color: $color__font-main;
    margin: 5px 0px;
    border-bottom: 2px solid $color__background-barre;
}

.cours__code {
    font-size: 1.2rem;
    margin: 0;
    color: crimson;
    font-weight: bold;
}

.cours__description {
    font-size: 1rem;
}

//-------------------------------------------------------------- Border
.a-faire {
    border: 4px solid #FF8F00;
}

.en-cours {
    border: 4px solid #01579B;
}

.reussi {
    border: 4px solid #1B5E20;
}

.echoue {
    border: 4px solid #D32F2F;
}

.propose,
.choisi {
    border: 4px solid #7E57C2;
}

// etat
.cours_etat {
    padding: 3px 5px;
    border-radius: 2px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    width: clamp(3.5rem, 5vw, 6rem);
}

.a-faire .cours_etat {
    background-color: #FF8F00;
    &::before {
        content: "À faire";
    }
}

.en-cours .cours_etat {
    background-color: #01579B;
    &::before {
        content: "En cours";
    }
}

.reussi .cours_etat {
    background-color: #1B5E20;
    &::before {
        content: "Réussi";
    }
}

.echoue .cours_etat {
    background-color: #D32F2F;
    &::before {
        content: "Échoué";
    }
}

.propose .cours_etat,
.choisi .cours_etat {
    background-color: #7E57C2;
    &::before {
        content: "Choisi";
    }
}