    /**************************************************/
    
    .site__header {
        background-color: $color__background-header;
        color: $color__font-header;
        padding-left: 10px;
        // font-family: $font__header-h1;
        display: flex;
        flex-direction: column;
        @media screen and (min-width: $largeur__media-tablette) {
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
        &__titre {
            display: flex;
            align-items: center;
            justify-content: space-between;
            h1 {
                font-size: clamp(.1rem, 2vw, 16rem);
                font-family: $font__main;
                // font-family: $font__titre;
                margin: 5px 15px -20px 0;
            }
            h2 {
                font-size: clamp(.6rem, 5vw, 2rem);
                font-family: $font__main;
                font-style: italic;
                opacity: 60%;
                margin-bottom: 5px;
            }
        }
        &__utile {
            display: flex;
            flex-direction: column;
            align-items: center;
            @media screen and (min-width: $largeur__media-tablette) {
                flex-direction: row;
            }
        }
    }
    
    .icone {
        background-color: $color__background-body;
        border-radius: 5px;
        width: 280px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        overflow: hidden;
        &__lien {
            padding: 1px;
            background-color: $color__background-body;
            width: 55px;
            display: flex;
            justify-content: center;
            transition-duration: 0.4s;
            svg {
                color: white;
                text-align: center;
            }
            svg:hover {
                color: $color__background-header;
            }
        }
        &__lien:hover {
            background-color: $color__background-link-hover;
        }
    }
    
    // ------------------------- Recherche
    .recherche {
        width: 85%;
        @media screen and (min-width: $largeur__media-tablette) {
            width: 245px;
        }
        // display: flex;
        // align-items: center;
        position: relative;
        // padding: 25px;
        & label {
            // font-family: 'Roboto Slab', serif;
            text-align: center;
            // font-size: 1.5em;
            // font-weight: bold;
        }
        &__input {
            width: 75%;
            // padding: 10px;
            border: 1px solid #bbb;
            border-radius: 3px;
            font-size: 0.85em;
            margin-left: 20px;
            height: 55px;
            @media screen and (min-width: $largeur__media-tablette) {
                height: 30px;
            }
        }
        &__button {
            height: 55px;
            @media screen and (min-width: $largeur__media-tablette) {
                height: auto;
            }
            // overflow: hidden;
            position: absolute;
            border: none;
            // height: 20px;
            // width: 20px;
            & svg {
                // width: 10px;
                // height: 10px;
            }
        }
        // -----------------------Fin recherche
    }