.site__footer {
    font-family: $font__titre;
    background: $color__background-footer;
    padding: 15px;
    & a {
        text-decoration: none;
        cursor: pointer;
    }
}

.footer__titre,
.footer__copyright {
    color: $color__font-footer;
    text-align: center;
}