#burger {
    display: block;
    position: absolute;
    transform: rotate(0deg);
    transition-duration: 0.4s;
}

@media screen and (min-width: $largeur__media-tablette) {
    #burger {
        display: none;
    }
    #chk-burger:checked~.menu-principal-container .menu {
        // height: auto;
        // visibility: visible;
    }
}

@media screen and (max-width: $largeur__media-mobile) {
    #chk-burger:checked~.menu-principal-container .menu {
        // height: 0px;
        visibility: hidden;
    }
}

#chk-burger {
    display: none;
}

#chk-burger:checked~#burger {
    transform: rotate(90deg);
}

.menu-principal-container {
    padding: 30px 0 0 0;
    // Ul
    .menu {
        list-style: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        // transition: .4s cubic-bezier(.5, 0, .5, 1.7);
    }
    .menu-item {
        padding: 1rem;
        background-color: $color__background-link;
        &:hover {
            background-color: $color__background-link-hover;
        }
    }
}