.principal {
    margin: 20px;
    padding: 10px 15px;
    background-color: $color__background-main;
    border-radius: 5px;
    box-shadow: rgb(57, 68, 62) 1px -1px 10px;
}

.site__main {
    padding: 10px 15px;
    background-color: $color__background-main;
    border-radius: 5px;
    box-shadow: rgb(57, 68, 62) 1px -1px 10px;
}

.formation {
    display: flex;
    flex-direction: column;
    &__titre {
        font-size: 2rem;
        color: $color__cours-titre;
        margin: 10px 0px;
        font-family: $font__titre;
        text-align: center;
    }
    &__liste {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .web .logoFiltre {
            -webkit-mask-image: url('https://s2.svgbox.net/octicons.svg?ic=globe-bold');
        }
        .jeu .logoFiltre {
            -webkit-mask-image: url('https://s2.svgbox.net/materialui.svg?ic=gamepad');
        }
        .utilitaire .logoFiltre {
            -webkit-mask-image: url('https://s2.svgbox.net/octicons.svg?ic=tools-bold');
        }
        .creation-3d .logoFiltre {
            -webkit-mask-image: url('https://s2.svgbox.net/materialui.svg?ic=view_in_ar');
        }
        .video .logoFiltre {
            -webkit-mask-image: url('https://s2.svgbox.net/octicons.svg?ic=device-camera-video');
        }
        .design .logoFiltre {
            -webkit-mask-image: url('https://s2.svgbox.net/materialui.svg?ic=color_lens');
        }
        .non-classe,
        .uncategorized {
            .logoFiltre {
                -webkit-mask-image: url('https://s2.svgbox.net/hero-outline.svg?ic=emoji-sad');
            }
        }
    }
    &__cours {
        // filter: blur(8px);
        position: relative;
        background-position: center;
        background-size: auto 100%;
        // background-repeat: no-repeat;
        opacity: 0;
        animation: animCours 1s forwards;
        box-shadow: rgb(57, 64, 68) 1px -1px 10px;
        // border-radius: 25px;
        margin: 10px;
        display: flex;
        flex-direction: column;
        width: 100%;
        @media screen and (min-width: $largeur__media--tablette) {
            width: clamp(170px, 40%, 260px);
        }
        @media screen and (min-width: $largeur__media--desktop) {
            width: clamp(200px, 20%, 260px);
        }
        transition-duration: .5s;
        &:hover {
            background-color: #f9f9f9 !important;
            transform: scale(1.05) !important;
            background-image: url('') !important;
        }
        .logoFiltre {
            position: absolute;
            bottom: 13px;
            right: 13px;
            padding: 10px 14px 7px;
            z-index: 1;
            // background-repeat: no-repeat;
            // background-position: center;
            transform: scale(2);
            -webkit-mask-repeat: no-repeat;
            -webkit-mask-position: center;
        }
    }
}

.cours {
    &__titre {
        font-size: 1.5rem;
        font-family: $font__titre;
        color: $color__font-main;
        margin: 5px 0px;
        a {
            text-decoration: none;
            &:hover {
                animation: text-arc-en-ciel 4.5s infinite;
            }
        }
    }
    &__img {
        width: 100%;
        max-height: 190px;
        border-radius: 4px 4px 0px 0px;
        overflow: hidden;
        &:hover {
            opacity: 0.75;
        }
        img {
            width: 100%;
        }
    }
    &__code {
        font-size: 1.2rem;
        margin: 0;
        color: $color__background-link-hover;
        font-weight: bold;
        &::after {
            content: '-MA';
        }
    }
    &__nbre-heure {
        position: relative;
        .horloge {
            // Position
            position: absolute;
            top: -2px;
            left: 30px;
            // Taille
            width: 20px;
            height: 20px;
            // Image SVG
            -webkit-mask-image: url('https://s2.svgbox.net/hero-solid.svg?ic=clock');
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    &__desc {
        // text-overflow: ellipsis;
        &__bouton {
            background-color: $couleur4;
            border: none;
            transition: .1s cubic-bezier(.5, 0, .5, 1.7);
            &:hover {
                color: $couleur1;
                background-color: $color__background-link-hover;
            }
        }
        text-align: justify;
    }
    &__texte {
        padding: 10px;
    }
}

.boutonTri {
    margin: 0 auto;
    margin-top: 15px;
    svg {
        color: $couleur4;
    }
    a {
        text-decoration: none;
        padding: 4px;
        background-color: $color__background-link;
        transition: .1s cubic-bezier(.5, 0, .5, 1.7);
        &:hover {
            background-color: $color__background-link-hover;
        }
    }
}