// etat
.cours_etat {
    padding: 3px 5px;
    border-radius: 2px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    // width: clamp(3.5rem, 5vw, 6rem);
    width: 100px;
}

@mixin etatCours($couleurCours, $texteCours) {
    background-color: rgba($couleurCours, 0.3);
    border: 4px solid $couleurCours;
    .cours {
        &__titre {
            text-shadow: 0 0 5px $couleurCours;
        }
        &__code {
            color: $couleurCours;
        }
        &_etat {
            font-family: $font__titre;
            background-color: $couleurCours;
            &::before {
                content: $texteCours;
            }
        }
        &__titre {
            border-bottom: 2px solid $couleurCours;
        }
        &__nbre-heure .horloge {
            background-color: $couleurCours;
        }
    }
    .logoFiltre {
        background-color: $couleurCours;
    }
}

.a-faire {
    @include etatCours($color__cours-aFaire, "À faire")
}

.en-cours {
    @include etatCours($color__cours-enCours, "En cours")
}

.reussi {
    @include etatCours($color__cours-reussi, "Réussi")
}

.echoue {
    @include etatCours($color__cours-echoue, "Échoué")
}

.choisi {
    @include etatCours($color__cours-choisi, "Choisi")
}

.non-choisi {
    @include etatCours(gray, "Non Choisi")
}