.site__footer {
    font-family: $font__titre;
    background-color: $color__background-footer;
    color: $color__font-footer;
    padding: 15px;
    &__colonne {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        @media screen and (min-width: $largeur__media--tablette) {
            flex-direction: row;
        }
        section {
            display: flex;
            flex-direction: column;
            flex: 0 0 30%;
        }
        .footer__adresse {}
        .footer__article {}
        .footer__lien {
            #sidebar-pied_page_colonne_ {
                &2 .widget-title {
                    font-size: 24px;
                    font-weight: bold;
                    @media screen and (min-width: $largeur__media--tablette) {
                        text-align: center;
                    }
                }
                &3 h2 {
                    text-align: right;
                }
            }
        }
    }
    &__ligne {
        display: flex;
        flex-direction: column;
        align-items: center;
        section {}
        .footer__description {}
        .footer__auteur {}
        .footer__copyright {}
        .footer__menu {
            &__nav {
                &__ul {
                    display: flex;
                    list-style-type: none;
                    justify-content: center;
                    .menu-item {
                        margin: 10px 5px;
                        a {
                            display: flex;
                            align-items: center;
                            padding: 3px;
                            svg {
                                color: $color__link__footer;
                            }
                            &:hover {
                                svg {
                                    color: $color__link__footer-hover;
                                }
                            }
                        }
                    }
                }
            }
        }
        .footer__recherche {
            .icone {
                display: none;
            }
        }
    }
}

#sidebar-pied_page_colonne_3 {
    // max-width: 200px;
}