.site__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    @media screen and (min-width: $largeur__media--tablette) {
        flex-direction: row;
        align-items: center;
    }
    .custom-logo {
        margin: 80px 0 0 15px;
        text-decoration: none;
        border-radius: 50%;
        @media screen and (min-width: $largeur__media--tablette) {
            margin: 15px 0 15px 15px;
            width: 70%;
            height: 70%;
        }
        @media screen and (min-width:$largeur__media--tablette) {
            margin: 15px 0 15px 15px;
            width: 90%;
            height: 90%;
        }
        @media screen and (min-width:$largeur__media--desktop) {
            margin: 15px;
        }
    }
    &__titre {
        display: flex;
        align-items: center;
        margin: 15px 0 5px 0;
        color: #F7F1F0;
        @media screen and (min-width: $largeur__media--tablette) {
            margin: 0;
        }
        h1 {
            text-align: right;
            margin-left: 15px;
            // padding: 0 clamp(.5rem, 2vw, 7rem) 0 15%;
            font-size: clamp(2.5rem, 4vw, 6rem);
            font-family: 'Ubuntu';
            color: #A15C38;
            @media screen and (min-width: $largeur__media--tablette) {
                margin-left: 20px;
                text-align: left;
                padding: 0 clamp(1.5rem, 2vw, 7rem) 0 0;
            }
            .titreComplet {
                display: flex;
                flex-direction: row;
                margin-top: -1px;
            }
        }
        h2 {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            font-size: clamp(1.2rem, 2vw, 4rem);
            padding: 0 15% 0 clamp(.5rem, 2vw, 7rem);
            font-family: 'Ubuntu';
            @media screen and (min-width: $largeur__media--tablette) {
                padding: 0 1.5rem 0 0;
            }
            @media screen and (min-width:$largeur__media--desktop) {
                padding: 0;
                flex-wrap: nowrap;
            }
        }
        a {
            text-decoration: none;
        }
    }
}