.menu-accueil-container,
.menu-evenement-container {
    max-width: 100%;
    margin-bottom: 15px;
    // nav
    .menu {
        //ul
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        @media screen and (max-width: $largeur__media--mobile) {
            border-radius: 25px;
            overflow: hidden;
            border: 3px solid $couleur2;
        }
        @media screen and (min-width: $largeur__media--tablette) {
            flex-direction: row;
        }
        .accueil {
            &__cours .menu-item-icone {
                background-image: url("https://s2.svgbox.net/materialui.svg?ic=article");
            }
            &__prof .menu-item-icone {
                background-image: url("https://s2.svgbox.net/materialui.svg?ic=local_library");
            }
            &__aide .menu-item-icone {
                background-image: url("https://s2.svgbox.net/materialui.svg?ic=rule");
            }
            &__etudiant .menu-item-icone {
                background-image: url("https://s2.svgbox.net/octicons.svg?ic=mortar-board-bold");
            }
            // Événements
            &__journee .menu-item-icone {
                background-image: url("https://s2.svgbox.net/weather-icons.svg?ic=day-sunny");
            }
            &__porte1 .menu-item-icone {
                background-image: url("https://s2.svgbox.net/materialui.svg?ic=sensor_door");
            }
            &__porte2 .menu-item-icone {
                background-image: url("https://s2.svgbox.net/materialui.svg?ic=sensor_door");
            }
            &__project .menu-item-icone {
                background-image: url("https://s2.svgbox.net/octicons.svg?ic=file-submodule");
            }
        }
        .menu-item {
            //li
            display: flex;
            flex-direction: column;
            flex: 0 0 20%;
            height: 175px;
            // border: 1px solid #aaa;
            a {
                &:hover {
                    // display: none;
                    .menu-item-icone {
                        transform: translateY(-10px);
                    }
                }
                hr {
                    // opacity: 0;
                    width: 50%;
                    color: $couleur4;
                }
                // max-width: 20%;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-decoration: none;
                height: 100%;
                font-size: 2rem;
                //a
                .menu-item {
                    &-description {
                        // span`
                        font-size: 1rem;
                        text-align: center;
                    }
                    &-icone {
                        width: 2rem;
                        height: 2rem;
                        // border: 1px solid #aaa;
                        margin-top: auto;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                        transition: .4s;
                    }
                }
            }
        }
    }
}

.menu-evenement-container .menu {
    flex-direction: column !important;
    border-radius: 25px;
    overflow: hidden;
    border: 3px solid $couleur2;
    &-item {
        align-items: flex-start;
        a {
            width: 100%;
        }
    }
}