.util {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    @media screen and (min-width: $largeur__media--tablette) {
        min-width: 400px;
        align-items: flex-end;
        // width: 25%;
        flex-wrap: wrap;
        width: 44.4%;
        flex-direction: row;
        .icone {
            margin-bottom: 0px;
            margin: 0 auto;
        }
        .recherche {
            margin-bottom: 0;
            width: auto;
            margin-right: 20px;
        }
    }
    @media screen and (min-width: $largeur__media--desktop) {
        flex-direction: row;
    }
}

.icone {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 5px;
    a {
        text-decoration: none;
    }
    &__lien {
        svg {
            margin: 0px 2px;
            @media screen and (min-width: $largeur__media--tablette) {
                margin: 1px;
            }
        }
    } // .icone__lien svg {}
}

.recherche {
    position: relative;
    border: none;
    &__input {
        width: 96vw;
        font-family: 'Roboto';
        height: 35px;
        border: none;
        outline: none;
        background-color: #3f3936;
        color: #000000;
        @media screen and (min-width: $largeur__media--tablette) {
            width: 250px;
        }
    } // .recherche__input {}
    &__bouton {
        background-color: #3f3936;
        top: 0;
        right: 0;
        border: none;
        outline: none;
        width: 35px;
        height: 35px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
            cursor: pointer;
        }
    } // .recherche__bouton {}
}