.article__seul {
    padding: 15px;
    margin: 20px;
    color: $color__background-footer;
    font-family: $font__titre;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    &__contenu {
        font-weight: normal;
        display: flex;
        color: $color__background-barre;
        font-size: 1rem;
        padding: 20px 45px 20px 0px;
        font-family: $font__main;
        text-align: justify;
    }
    label {
        cursor: pointer;
    }
}

.single-post .cours_etat {
    // font-size: 27px;
    font-size: 20px;
}

#chk-single {
    display: none;
    &:checked~ {
        .site__main {
            background-image: url('') !important;
        }
    }
}

.site__main {
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    // @media screen and (min-width: $largeur__media--tablette) {
    //     background-size: auto auto;
    // }
    @media screen and (min-width: $largeur__media--desktop) {
        background-size: 100% auto;
    }
}

.single-post,
.page-template-default {
    .site__main {
        animation: animHomeSiteMain 5s forwards;
    }
}